<!DOCTYPE html>
<html>
<head>
  <%- include('../../partials/head', {title: data.title}) %>
  <%- include('../../partials/theme', {themeName: "cyanish"})%>
  <link rel="stylesheet" type="text/css" href="css/entry/login.css">
  <link href="https://fonts.googleapis.com/css?family=Nico+Moji&display=swap" rel="stylesheet">
</head>
<body>
  <div class='pad'><img src='assets/icon.svg'></div>
  <div class='hbar'></div>
  <div id='bg' class='w-100'>
    <div id='login-form'>
<% if (data.renderCode == 1) { -%>
      <div id='form-cont' style='--h:50'><div>
        <h2 class='w-100 text-center'>ĐĂNG NHẬP</h2>
<% } else if (data.renderCode == 2) { -%>
        <div id='form-cont' style='--h:38'><div>
        <h2 class='w-100 text-center'>ĐĂNG NHẬP</h2>
        <h6>Nhân viên thư viện</h6>
<% } -%>
        <br>

        <div id='outer-form'>
          <div>

<% if (data.renderCode != 2) { -%>
            <form action='/login-user' id='user-form' method="post" accept-charset="utf-8">
              <div class='input-box'>
                <input type="text" name="username" value="<%= data.username %>" required><br>
                <label for="username">Tên đăng nhập</label>
              </div><br>
              <div class='input-box'>
                <input type="password" name="password" value="<%= data.password %>" required><br>
                <label for="password">Mật khẩu</label>
              </div>
              <div id='other-action'>
                <p><a href="#">Quên mật khẩu?</a></p>
                <p>Không có tài khoản? <a href='/registration'>Đăng ký</a></p>
              </div>
            </form>
<% } if (data.renderCode != 1) { -%>
            <form action="/login-admin" id='admin-form' method="post" accept-charset="utf-8">
              <div class='input-box'>
                <input type="text" name="username" value="<%= data.username %>" required><br>
                <label for="username">Tên đăng nhập</label>
              </div><br>
              <div class='input-box'>
                <input type="password" name="password" value="<%= data.password %>" required><br>
                <label for="password">Mật khẩu</label>
              </div>
            </form>
<% } -%>

<% if (data.renderCode == 0) { -%>
            <script>
              $("#admin-form").hide()
            </script>
<% } -%>
          </div>
          <input type="button" value="Đăng nhập" onclick="submitForm()">
          <p id='errorDisplay'><%= data.error %></p>
        </div>
      </div></div>
    </div>
  </div>

<% if (data.renderCode == 1) { -%>
  <script>
    function submitForm() {
      $("#user-form").submit()
    }
  </script>
<% } else if (data.renderCode == 2) { -%>
  <script>
    function submitForm() {
      $("#admin-form").submit()
    }
  </script>
<% } else { -%>
  <script>
    function submitForm() {
      if ($("#spA").hasClass('active'))
        $("#admin-form").submit()
      else
        $("#user-form").submit()
    }
  </script>
<% } -%>

  <div class='hbar'></div>
  <div class='pad'></div>
<!-- 
<% if (data.renderCode == 2) { -%>
  <div id='warning'>This page is served only for staffs of the library. If you have no privileges, please&nbsp<a href='/login'>leave</a>&nbspthe page immediately.</div>
  <style type="text/css" media="screen">
    #warning {
      position: absolute;
      display: flex;
      width: 100%;
      height: 2.5em;
      left: 0;
      bottom: 0;
      font-weight: bold;
      background: rgba(255, 128, 128, 0.8);
      justify-content: center;
      align-items: center;
    }

    #warning a {
      color: black;
    }
  </style>
<% } -%> -->
</body>
</html>